:root {
    /* colors */

    --font-dark: #756452;
    --font-light: #fff;
    --font-footer: #d6d1c6;

    --primary-background-color: #faf8f0;
    --secondary-background-color: #e9e7d9;
    --button-background-color-inactive: #baac9a4d;

    --game-grid-background: #9c8a7c;
    --game-cell-empty: #bdac98;
    --game-cell-2: #efe5da;
    --game-cell-4: #ebd8b6;
    --game-cell-8: #f2b076;
    --game-cell-16: #f58f5b;
    --game-cell-32: #f68064;

    /* Spacing */
    --spacing-xxsmall: 0.25rem;
    --spacing-xsmall: 0.5rem;
    --spacing-small: 1rem;
    --spacing-medium: 2rem;
    --spacing-large: 4rem;
    --spacing-xlarge: 8rem;
    --spacing-xxlarge: 16rem;

    --border-radius: 0.75rem;

    /* sizing */
    
    --sizing-xxsmall: 0.5rem;
    --sizing-xsmall: 0.66rem;
    --sizing-small: 0.75rem;
    --sizing-medium: 1rem;
    --sizing-large: 2rem;
    --sizing-xlarge: 3rem;
    --sizing-xxlarge: 4rem;
    
}